<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yw.mapper.YwDeviceMapper">

    <resultMap type="YwDevice" id="YwDeviceResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="model"    column="model"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="description"    column="description"    />
        <result property="buyTime"    column="buy_time"    />
        <result property="timeLimit"    column="time_limit"    />
        <result property="status"    column="status"    />
        <result property="supervisor"    column="supervisor"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectYwDeviceVo">
        select id, code, model, name, type, description, buy_time, time_limit, status, supervisor, create_by, create_time, update_by, update_time from yw_device
    </sql>

    <select id="selectYwDeviceList" parameterType="YwDevice" resultMap="YwDeviceResult">
        <include refid="selectYwDeviceVo"/>
        <where>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="buyTime != null "> and buy_time = #{buyTime}</if>
            <if test="timeLimit != null "> and time_limit = #{timeLimit}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="supervisor != null "> and supervisor = #{supervisor}</if>
        </where>
    </select>

    <select id="selectYwDeviceById" parameterType="Long" resultMap="YwDeviceResult">
        <include refid="selectYwDeviceVo"/>
        where id = #{id}
    </select>

    <insert id="insertYwDevice" parameterType="YwDevice" useGeneratedKeys="true" keyProperty="id">
        insert into yw_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="model != null">model,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="description != null">description,</if>
            <if test="buyTime != null">buy_time,</if>
            <if test="timeLimit != null">time_limit,</if>
            <if test="status != null">status,</if>
            <if test="supervisor != null">supervisor,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="model != null">#{model},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="description != null">#{description},</if>
            <if test="buyTime != null">#{buyTime},</if>
            <if test="timeLimit != null">#{timeLimit},</if>
            <if test="status != null">#{status},</if>
            <if test="supervisor != null">#{supervisor},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateYwDevice" parameterType="YwDevice">
        update yw_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="model != null">model = #{model},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="description != null">description = #{description},</if>
            <if test="buyTime != null">buy_time = #{buyTime},</if>
            <if test="timeLimit != null">time_limit = #{timeLimit},</if>
            <if test="status != null">status = #{status},</if>
            <if test="supervisor != null">supervisor = #{supervisor},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYwDeviceById" parameterType="Long">
        delete from yw_device where id = #{id}
    </delete>

    <delete id="deleteYwDeviceByIds" parameterType="String">
        delete from yw_device where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>